
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/member-navbar-footer.cshtml";
}

<main id="mt-main">
    <!-- Mt Content Banner of the Page -->
    <section class="mt-contact-banner" style="background-image: url(/images/login-background.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>S.S.S</h1>
                    <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                            <li><a href="/">ANASAYFA <i class="fa fa-angle-right"></i></a></li>
                            <li>S.S.S</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Mt Content Banner of the Page end -->
    <div class="container faq-section mt-about-sec">
        <div class="row txt">
            <div class="col-xs-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading6">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    Canlı Sıva Isı Yalıtımı Sağlar mı?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6" aria-expanded="false">
                            <div class="panel-body">
                                Ortalama %35 Isı Yalıtımı Sağlar: İçeriğindeki temel hammaddelerin sayesinde ısıyı (sıcak-soğuk) bünyesinde tutabilmesi özelliği ile ciddi bir yalıtım sağlamaktadır.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading7">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    Canlı Sıva Ses Yalıtımı Sağlar mı?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7" aria-expanded="false">
                            <div class="panel-body">
                                Ortalama %35 Ses Yalıtımı Sağlar: Ses ile ilgili bireysel ve toplumsal taleplere çok özel ve geniş menfaatler sunmaktadır. Ses yalıtımındaki üstünlüğü ile ayrıcalığı hemen farkedilir. Dokusundaki polistren ve tekstil kompenentlerinin özelliği ile çok özel akustik sağlamaktadır.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse6">
                                    Canlı Sıva Kusurları Örter mi?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8" aria-expanded="false">
                            <div class="panel-body">
                                Bir iç cephe sıvası olduğundan duvarlarınızdaki kusurları (çatlak, döküntü, çukur, delik vs.) hiçbir tamirata gerek kalmadan mükemmel bir şekilde kapatır. Esneme özelliği ile diğer iç cephe uygulamalarında görülen ‘duvar çatlakları’ görülmez.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading9">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse6">
                                    Canlı Sıvanın Tadilatı Kolay mı?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9" aria-expanded="false">
                            <div class="panel-body">
                                Hiçbir cephe malzemesinde olmayan bir özelliği ile sizlere sunuyoruz. Bütün yaşam alanlarında temizlik, taşınma, mobilya yenilikleri gibi değişik sebeplerle darbelerden meydana gelen deformasyonları su spreyi ile çok kolay bir şekilde ustalıkla tamir edersiniz.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading10">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                    Canlı Sıva Güvenli mi?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10" aria-expanded="false">
                            <div class="panel-body">
                                İçeriğindeki kompenenetler (tekstil, tutkal ve genleştirilmiş polistren tanecikleri) sayesinde yapabilirliğini en az seviyeye düşürmekte ve alev almamaktadır.
                                Aynı zamanda kimyasal madde kullanılmaması, nefes alıyor olması, terlemeyi önlemesi ve kokusuz olması diğer özellikleri arasındadır. Ayrıca esneme özelliği ile çocuklara yönelik ev kazalarında son derece koruyucudur
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading12">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                    Canlı Sıva Şık mıdır?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12" aria-expanded="false">
                            <div class="panel-body">
                                Görsellik sınıflandırmasında en üst düzeydedir. Diğer dekoratif iç cephe ürünlerindeki görsel keyif ve beğenilirlik süresi itibariyle çok daha uzun sürelidir. Her rengin insanlar üzerinde (göreceli) sağlamış olduğu canlılık ve motive edici etkileri vardır. Zengin renk yelpazesi ve sıra dışı dekoratifliği ile sizlere bu özellikleri yaşatmaktadır.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
