@model SilkPlaster.UI.Models.MemberPasswordModel

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-push-1">
        <div class="holder" style="margin: 0;">
            <div class="mt-side-widget">
                @using (Html.BeginForm("EditPassword", "Account", FormMethod.Post))
                {
                    <fieldset>
                        @Html.ValidationSummary(false)
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.PasswordFor(model => model.Password, new { @class = "input", placeholder = "Parolanız" })
                            </div>
                            <div class="col-sm-12">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "input", placeholder = "Yeni Parolanız" })
                            </div>

                            <div class="col-sm-12">
                                @Html.PasswordFor(model => model.NewRePassword, new { @class = "input", placeholder = "Yeni Parola Tekrar" })
                            </div>
                        </div>
                        <button type="submit" class="btn-type1">Şifremi Değiştir</button>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>