@using SilkPlaster.UI.Models.Helpers
@{
    ViewBag.Title = "Index";
}

<div class="wrapper">
    <div class="w1">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="col-md-12">
                    <h3>
                        <i class="icon icon-user"></i> Hoş Geldin @CurrentSession.Member.FirstName
                    </h3>
                </div>

                <div class="row" style="margin: 10px 0;">

                    <div class="col-md-4" style="margin-bottom: 5px;">
                        <a href="/Account/">
                            <button class="btn btn-block w-100 y-b-n y-btn-hover" style="background-color: #ddd">
                                Siparişlerim
                            </button>
                        </a>
                    </div>

                    <div class="col-md-4" style="margin-bottom: 5px">
                        <a href="/Account/EditMyInformation">
                            <button class="btn btn-block w-100 y-b-n y-btn-hover" style="background-color: #ddd">
                                Bilgilerimi Düzenle
                            </button>
                        </a>

                    </div>

                    <div class="col-md-4" style="margin-bottom: 5px">
                        <a href="/Account/">
                            <button class="btn btn-block w-100 y-b-n y-btn-hover" style="background-color: #ddd">
                                Mesajlarım
                            </button>
                        </a>
                    </div>

                    <div class="col-md-4" style="margin-bottom: 5px">
                        <a href="/Account/MyAddresses">
                            <button class="btn btn-block w-100 y-b-n y-btn-hover" style="background-color: #ddd">
                                Adres Bilgilerim
                            </button>
                        </a>
                    </div>

                    <div class="col-md-4" style="margin-bottom: 5px">
                        <a href="/Account/EditPassword">
                            <button class="btn btn-block w-100 y-b-n y-btn-hover" style="background-color: #ddd">
                                Şifremi Değiştir
                            </button>
                        </a>
                    </div>

                    <div class="col-md-4" style="margin-bottom: 5px">
                        <a href="/WishList">
                            <button class="btn btn-block w-100 y-b-n y-btn-hover" style="background-color: #ddd">
                                Beğendiklerim
                            </button>
                        </a>
                    </div>


                    <div class="col-md-4" style="margin-bottom: 5px">
                        <a href="/Account/">
                            <button class="btn btn-block w-100 y-b-n y-btn-hover" style="background-color: #ddd">
                                Sepetim
                            </button>
                        </a>
                    </div>

                    <div class="col-md-4" style="margin-bottom: 5px">
                        <a href="/Account/Logout">
                            <button class="btn btn-block w-100 y-b-n y-btn-hover" style="background-color: #ddd">
                                Çıkış Yap
                            </button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>